
  body {
    font-family: 'Times New Roman', serif;
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    background-attachment: fixed;
    background-image: linear-gradient(to top,  #36466c 0%,  #b45b5b 100%);
    /* position: relative; */
  }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
